Django==4.1
psycopg2-binary>=2.8
djangorestframework
django-cors-headers
django-redis
drf-nested-routers
django-debug-toolbar==3.7.0 
djangorestframework-simplejwt
django-templated-mail==1.1.1 
requests
Pillow==9.3.0
